<% if @pet.nil? %>
    <h1> All Families </h1>
<% else %>
    <h1> <%= @pet.name %>'s Family </h1>
<% end %>

<% @family.each do |sibling| %>
    <% if sibling.class == Dog %>
        <li> <%= link_to "#{sibling.name}", "/dogs/#{sibling.id}" %></li>
    <% elsif sibling.class == Cat %>
        <li> <%= link_to "#{sibling.name}", "/cats/#{sibling.id}" %></li>
    <% end %>
<% end %>